/* ---------------------------------------- */
              /* Orange colour */
/* --------------------------------------- */

#ff9f43

/* ---------------------------------------- */
              /* BASIC SETUP */
/* --------------------------------------- */
html {
  font-family: 'Lato', sans-serif;
  color: rgb(59, 56, 56);
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: 20px;
}

/* ---------------------------------------- */
                /* HEADER */
/* --------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url(img/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

h1,h2,h3{
  font-weight: 300;
  text-transform: uppercase;
}

h1{
  margin-bottom: 20px;
  color: white;
  font-size: 7rem;
  word-spacing: 3px;
  letter-spacing: 1px;
}

h2{
  font-size: 5rem;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2::after{
  display: block;
  height: 2px;
  background: #ff9f43;
  content: " ";
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 2.1rem;
  margin-top: 15px;
}

.hero-text {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  font-size: 3.3rem;
}


/* ---------------------------------------- */
              /* LOGO + NAV */
/* --------------------------------------- */

.logo {
  height: 150px;
  width: auto;
  float: left; 
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px; 
}

.main-nav li a:link, .main-nav li a:visited {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  transition: border-bottom 0.3s;
  padding: 10px 0px;
}

.main-nav li a:hover, .main-nav li a:active {
  border-bottom: 2px solid #ff9f43;
}



/* ---------------------------------------- */
                /* BUTTONS */
/* --------------------------------------- */

.btn:link, .btn:visited{
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link, .btn-full:visited {
  background-color: #ff9f43;
  border: 1px solid #ff9f43;
  color: white;
  margin-right: 20px;
}

.btn-ghost:link, .btn-ghost:visited{
 border: 1px solid #ff9f43;
 color: #ff9f43;
}

.btn:hover, .btn:active {
  background-color: #fe7c00;
}

.btn-full:hover, .btn-full:active {
  border: 1px solid #fe7c00;
}

.btn-ghost:hover, .btn-ghost:active{
 border: 1px solid #fe7c00;
 color: #fff;

}

/* ---------------------------------------- */
            /* FEATURES SECTION */
/* --------------------------------------- */

.feature-header {
  text-align: center;
}

.features {
  padding: 80px 0;
}

.features .long-copy {
  line-height: 145%;
  font-size: 2rem;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 50px;
}

.box {
  padding: 1%;
}

.box p {
  font-size: 1.7rem;
  line-height: 145%;
}

.features i {
  font-size: 5rem;
  display: block;
  color: #ff9f43;
}

/* ---------------------------------------- */
                /* MEALS */
/* --------------------------------------- */

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.meal-photo img {
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0.7;

}

.meal-photo img:hover {
  transform: scale(1);
  opacity: 1;
}